<!--I have added and editted code here-->
<h1> Research Name</h1>
<button type="button">Apply</button>
<button type="button">Conctact</button>
<div class="research">
    <table>
        <tbody>
            <tr>
                <td>
                    Project Name: <br />
                    Field: <br />
                    Requirement: <br />

                </td>
                <td>
                    <img src=" /images/assignment 1 utah logo.jpg" alt="Picture of U of U sunset"
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="research detail">
    <table>
        <tbody>
            <tr>
                <td>
                    This is were all the detail of the research will be found.
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!----------- Code below credit to:https://www.w3docs.com/snippets/css/how-to-create-an-image-slider-or-slideshow.html#slide-2 ------------>
<!DOCTYPE html>
<html>
<head>
    <title> Slideshow Images</title>
    <style>
    </style>
</head>
<body>
    <div class="slider1">

        <span id="slide-11"></span>
        <span id="slide-21"></span>
        <span id="slide-31"></span>
        <div class="image-container">
            <img src="~/images/assignment 1 school emblem.jpg" class="slide" width="500" height="300" />
            <img src="/images/assignment 1 picture of lab.jpg" class="slide" width="500" height="300" />
            <img src="/images/assignment 1, utah sunset.jpg" class="slide" width="500" height="300" />
        </div>
        <div class="buttons">
            <a href="#slide-11"></a>
            <a href="#slide-21"></a>
            <a href="#slide-31"></a>
        </div>
    </div>
</body>
</html>
<!----------- Code above credit to:https://www.w3docs.com/snippets/css/how-to-create-an-image-slider-or-slideshow.html#slide-2 ------------>