<!--I have added and editted code here-->
<h1> University Of Utah Research</h1>
<p> Here is a look at the current research porgrams that are looking for Interms</p>

<ol>
    <li> Research From Prof. A</li>
    <div class="opportunity">
        <table>
            <tbody>
                <tr>
                    <td>
                        Project Name: <br />
                        Field: <br />
                        Requirement: <br />
                        <a href="Details" target="Details">Details</a>
                    </td>
                    <td>
                        <img src=" /images/assignment 1 utah logo.jpg" alt="Picture of U of U logo"
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <li> Research From Prof. B</li>
    <div class="opportunity">
        <table>
            <tbody>
                <tr>
                    <td>
                        Project Name:  <br />
                        Field: <br />
                        Requirement: <br />
                        <a href="Details" target="Details">Details</a>
                    </td>
                    <td>
                        <img src=" /images/assignment 1 utah logo.jpg" alt="Picture of U of U sunset"
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <li> Research From Prof. C</li>
    <div class="opportunity">
        <table>
            <tbody>
                <tr>
                    <td>
                        Project Name:  <br />
                        Field: <br />
                        Requirement: <br />
                        <a href="Details" target="Details">Details</a>
                    </td>

                    <td>
                        <img src=" /images/assignment 1 utah logo.jpg" alt="Picture of U of U sunset"
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ol>










